body {
  background-color: black;
}

canvas {
  background-image: url("../assets/bg_roads.png");
  background-size: cover;
  border: 2px solid white;
}

.canvas-container {
  width: 100%;
  text-align: center;
}

.testClass {
  font-family: 'Press Start 2P';
  color: white;
}
