body {
  background-color: black;
  font-family: 'Press Start 2P';
}

canvas {
  background-image: url("http://res.cloudinary.com/dsvfpq1b7/image/upload/v1485501355/Frogger/bg_roads.png");
  background-size: cover;
  border: 2px solid purple;
}

.game-container {
  position: relative;
  right: 0;
  left: 0;
}

.canvas-container, .start-pause-screen {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: black;
}

.canvas-container {
  text-align: center;
  top: 20px;
}

.start-pause-screen {
  z-index: 5;
  width: 450px;
  height: 550px;
  top: 22px;
}

.title-container {
  text-align: center;
}

#title {
  font-family: 'Press Start 2P';
  color: blue;
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
}

#show-score {
  color: white;
  font-size: 22px;
}

.frog {
  width: 50px;
  height: 40px;
  display: block;
  margin: 50px auto;
}

.directions-container {
  text-align: center;
}

.directions {
  color: white;
  font-size: 20px;
}

.instructions-container {
  margin: 40px 20px;
  text-align: center;
}

.arrows-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.r-container {
  display: flex;
  flex-direction: row;
  margin: 0 60px;
  margin-top: 30px;
}

.instructions {
  color: white;
}

.arrow-keys {
  width: 100px;
  height: 65px;
}

.r-key {
  width: 50px;
  height: 50px;
}

footer {
  position: relative;
  top: 575px;
  text-align: center;
  width: 100%;
}

.fa-github {
  color: green;
  margin-right: 30px;
}

.fa-linkedin-square {
  color: green;
}

.fa-github:hover{
  color: white;
}

.fa-linkedin-square:hover {
  color: white;
}

a {
  text-decoration: none;
}
